<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!--指定log4j输出日志-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="com.kebo.po"/>
    </typeAliases>

    <!--数据库相关配置-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
<!--
    <mappers>
       &lt;!&ndash; <mapper resource="com/kebo/mapper/PrivilegeMapper.xml"/>
        <mapper resource="com/kebo/mapper/RoleMapper.xml"/>
        <mapper resource="com/kebo/mapper/RolePrivilegeMapper.xml"/>
        <mapper resource="com/kebo/mapper/UserMapper.xml"/>
        <mapper resource="com/kebo/mapper/UserRoleMapper.xml"/>&ndash;&gt;
        <mapper resource="com/kebo/mapper/UserMapper.xml"/>
    </mappers>-->
    <mappers>
        <package name="com.kebo.mapper"/>
    </mappers>
</configuration>